
.info {
  margin-top: 40px !important;
}

.container{
  margin-top: 4rem !important;
}

body {
  color: white !important;
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #000000, #0000ff);
}
#name {
  font-size: 3rem;
}

#table {
  color: white;
}

.overlay {
  color: black;
  height: 100%;
  width: 100%;
  border-radius: 16px;
  background-color: rgba(210, 215, 212, 0.893);
  opacity: 0;
  top: 0;
  position: absolute;
  transition: opacity 0.8s ease-out;
}
.project:hover .overlay {
  opacity: 1;
}

#Education{
    margin: 1rem;
    padding: 2rem;
    border: 3px solid white;
    border-radius: 20px;
}
#Experiance{
    margin: 1rem;
    padding: 2rem;
    border: 3px solid white;
    border-radius: 20px;
}
#Bio{
    margin: 1rem;
    padding: 2rem;
    border: 3px solid white;
    border-radius: 20px;
}


.holo-border {
      position: relative;
      background: transparent;
      border-radius: 16px;
      z-index: 1;
    }

.holo-border::before {
      content: '';
      position: absolute;
      top: -2px;
      left: -2px;
      right: -2px;
      bottom: -2px;
      background: linear-gradient(130deg,
        #ff00ff, #00ffff, #00ff00, #ffff00, #ff0000, #ff00ff);
      background-size: 600% 600%;
      z-index: -1;
      filter: blur(2px);
      animation: holo-border-animation 8s linear infinite;
      border-radius: 18px;
      mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
      -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
      mask-composite: exclude;
      -webkit-mask-composite: destination-out;
      padding: 2px;
}
@keyframes holo-border-animation {
      0% { background-position: 0% 50%; }
      50% { background-position: 100% 50%; }
      100% { background-position: 0% 50%; }
}

.project-img{
  border-radius:16px!important;
  height: 25rem !important;
  width: 22rem ;
}
.link-project{
  text-decoration: none;
}

#nav a {
  color: linear-gradient(to right, #000000, #0000ff);
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title {
  color: white;
  transition: color 0.5s;
}

.profile-picture{
  height: 80%;
  width: 80%;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 20px #4ECDC4 , 0 0 40px #349090;
}
.footer a{
  font-size: 25px;
}